@model Infrastructure.DTO.EventDTO
@{
    ViewData["Title"] = "Event Details";
}

<h2>@Model.Name</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Model.Description</dd>

        <dt class="col-sm-2">Location</dt>
        <dd class="col-sm-10">@Model.Location</dd>

        <dt class="col-sm-2">Date</dt>
        <dd class="col-sm-10">@Model.Date.ToShortDateString()</dd>

        <dt class="col-sm-2">ShowOnHomepage</dt>
        <dd class="col-sm-10">@Model.ShowOnHomepage</dd>

        <dt class="col-sm-2">Visibility</dt>
        <dd class="col-sm-10">@Model.Visibility</dd>

        <dt class="col-sm-2">Video</dt>
        <dd class="col-sm-10">
            @if (true)
            {
                var embedUrl = @Model.VideoUrl.Replace("watch?v=", "embed/");
                <iframe width="320" height="180" src="@embedUrl" frameborder="0" allowfullscreen></iframe>
            }

        </dd>
    </dl>
</div>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>
