@model IEnumerable<Infrastructure.DTO.CarDTO>

@{
    ViewData["Title"] = "Cars";
}

<h1>Cars</h1>

<a asp-action="Create" class="btn btn-primary mb-3">Add New Car</a>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Color</th>
        <th>Max Speed</th>
        <th>Cost</th>
        <th>Image</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var car in Model)
    {
        <tr>
            <td>@car.BrandName</td>
            <td>@car.Model</td>
            <td>@car.Color</td>
            <td>@car.MaxSpeed</td>
            <td>@car.Cost</td>
            <td>
                @if (!string.IsNullOrEmpty(car.ImageUrl))
                {
                    <img src="@car.ImageUrl" alt="Car Image" width="100" />
                }else
                {
                    <img src="~/media/altcar.jpeg" alt="Car Image" width="100" />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@car.Id" class="btn btn-sm btn-warning">Edit</a>
                <a asp-action="Delete" asp-route-id="@car.Id" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>